* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;

}

h1 {
    color: white;
    font-size: 60px;
    text-align: center;
    margin-top: 150px;
}

.links {
    height: 150px;
    width: 150px;
    margin-left: 50px;
    margin-top: 50px;
}

.first {
    margin-left: 250px;
}
